@font-face {
                  font-family: 'CookieRun';
                  src: url('fonts/CookieRun Regular.otf') format('opentype');
                  font-weight: 400;
                  font-style: normal;
                  font-display: swap; /* this is to make sure hindi weird yung pagka loading nung font kasi kung wala toh, invisible lng yung text before magload yung font */
            }

            @font-face {
                  font-family: 'CookieRun';
                  src: url('fonts/CookieRun Bold.otf') format('opentype');
                  font-weight: 700;
                  font-style: normal;
                  font-display: swap;
            }

            @font-face {
                  font-family: 'CookieRun';
                  src: url('fonts/CookieRun Black.otf') format('opentype');
                  font-weight: 900;
                  font-style: normal;
                  font-display: swap;
            }

            body {
                  font-family: 'CookieRun', 'Courier New', monospace;
                  background-color: #222222;
            }

            .sidebar {
                  background-color: #faf3e1;
                  display: flex;
                  flex-direction: column; /* this is to make sure the things in the sidebar are displayed top to bottom */
                  position: fixed;
                  left: 0; /* yung mga flat directions na may 0 is ano, para laging naka dikit yung specific content nayun sa side nayun */
                  top: 0;
                  bottom: 0;
                  width: 148px;
                  margin: 0px;
                  padding: 74px 0 0 0;
                  align-items: center; /* essentially, fancier version of text-align center for centering things horizontally. Partner nito ang justify-content pero ibang direction and ano nun */
            }

            .sidebar button {
                  font-family: 'CookieRun';
                  font-weight: 700;
                  margin: 5px 0;
                  padding: 8px 12px;
                  color: #222222;
                  cursor: pointer;
                  background-color: #f5e6c5;
            }

            .menubar {
                  background-color: #ff6e1f;
                  display: flex;
                  align-items: center;
                  position: fixed;
                  left: 0;
                  top: 0;
                  right: 0;
                  height: 74px;
            }

            .menubar h1 {
                  font-family: 'CookieRun';
                  font-weight: 900;
                  margin-left: 10px;
                  padding: 0;
                  color: #faf3e1;
            }

            .menubar button {
                  font-family: 'CookieRun';
                  font-weight: 700;
                  margin: 0;
                  margin-right: auto;
                  margin-left: auto;
                  padding: 8px 12px;
                  color: #222222;
                  background-color: #f5e6c5;
                  align-content: center;
                  cursor: pointer;
            }

            .Content {
                  margin-left: 148px;
                  margin-top: 74px;
                  padding: 20px;
            }

            .Content table {
                  margin-left: auto;
                  margin-right: auto;
                  border-collapse: collapse;
                  width: 100%;
            }

            .Card {
                  flex: 1; /* this is to make sure the table datas have equal width */
                  text-align: center;
                  padding: 10px;
            }

            .Card div {
                  width: 100%;
                  margin: 10px auto;
                  border-radius: 10px;
                  overflow: hidden;
                  background-color: #faf3e1;
                  display: grid;
                  padding: 10px;
                  box-sizing: border-box; /* this is to prevent overflow ie. overlap with the table data */
                  align-items: center;
            }